@font-face {
	font-family: MD IO;
	src: url(./fonts/MDIO0.4-Regular.woff2);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: MD IO;
	src: url(./fonts/MDIO0.4-Semibold.woff2);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: MD IO;
	src: url(./fonts/MDIO0.4-Ultra.woff2);
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
@font-face {
	font-family: MD IO;
	src: url(./fonts/MDIO0.4-Italic.woff2);
	font-style: italic;
	font-display: swap;
}

html {
	background: #000;
	font-family: MD IO, system-ui, sans-serif;
	padding: 0;
	margin: 0 auto;
}

::selection {
	--tw-bg-opacity: 1;
	background-color: rgb(229 229 229 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(18 22 33 / var(--tw-text-opacity));
}

body {
	margin: 0;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 100%;
	color: #ededed;

	background-size: cover;
	background-repeat: no-repeat;
}

.btn {
	font-size: 14px;
	padding: 0.625em 1em;
	text-shadow: 0 1px 0 #121621;
	box-shadow: 0 1px 1px -1px #121621;
	border-radius: 0.25rem;
	border-width: 1px;
	border-color: hsla(0, 0%, 90%, 0.1);
	background-color: hsla(0, 0%, 90%, 0.2);
	font-weight: 600;
	text-transform: uppercase;
}

.btn:hover {
	background-color: hsla(0, 0%, 90%, 0.25);
}

.backdrop-blur {
	--tw-backdrop-blur: blur(72px);
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
}

.bg-deep\/50 {
	background-color: rgb(18 22 33/0.5);
}

.transition {
	transition-property: color, background-color, border-color, fill, stroke,
		opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
		-webkit-backdrop-filter;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.2s;
}

.card {
	font-size: 14px;
	padding: 0.625em 1em;
	text-shadow: 0 1px 0 #121621;
	box-shadow: 0 1px 1px -1px #121621;
	border-radius: 0.25rem;
	border-width: 1px;
	border-color: hsla(0, 0%, 90%, 0.1);
	font-weight: 600;
}

.input,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	background-color: hsla(0, 0%, 90%, 0.2);
	border-color: hsla(0, 0%, 90%, 0.1);
}
