* {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
	@apply bg-gradient-to-tr from-slate-900 to-black bg-black text-neutral-100;
}
p {
	@apply text-lg leading-8;
}

a {
	@apply text-white cursor-pointer underline;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

::selection {
	--tw-bg-opacity: 1;
	background-color: rgb(229 229 229 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(18 22 33 / var(--tw-text-opacity));
}

body {
	margin: 0;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-weight: 400;
	font-size: 0.9rem;

	min-height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
}

.btn {
	font-size: 14px;
	padding: 0.625em 1em;
	text-shadow: 0 1px 0 #121621;
	box-shadow: 0 1px 1px -1px #121621;
	border-radius: 0.25rem;
	border-width: 1px;
	border-color: hsla(0, 0%, 90%, 0.1);
	font-weight: 600;
	text-transform: uppercase;
}

.backdrop-blur {
	--tw-backdrop-blur: blur(72px);
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
}

.transition {
	transition-property: color, background-color, border-color, fill, stroke,
		opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
		-webkit-backdrop-filter;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.2s;
}

.card {
	padding: 0.625em 1em;
	text-shadow: 0 1px 0 #121621;
	box-shadow: 0 1px 1px -1px #121621;
	border-radius: 0.25rem;
	border-width: 1px;
	border-color: hsla(0, 0%, 90%, 0.1);
	font-weight: 600;
}

.input,
textarea {
	line-height: inherit;
	color: inherit;
	background-color: hsla(0, 0%, 90%, 0.2);
	border-color: hsla(0, 0%, 90%, 0.1);
}
